<div style="height: 600px;">
    <button (click)="loadAdditionalData()">Load additional data</button>
    <vizabi class="vizabi-placeholder"
            (onCreated)="onChartCreated($event)"
            (onChanged)="onChartChanged($event)"
            (onClick)="onChartClicked($event)"
            (onError)="onChartError($event)"
            [readerModuleObject]="readerModuleObject"
            [readerGetMethod]="readerGetMethod"
            [readerParams]="readerParams"
            [readerName]="readerName"
            [model]="model"
            [modelHash]="modelHash"
            [stopUrlRedirect]="stopUrlRedirect"
            [additionalItems]="additionalItems"
            [chartType]="chartType"></vizabi>
</div>
